body, html {
	background-color: gray;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: "sans serif";
}

.center {
	height: 100%;
	width: 50%;
	background-color: white;
	color: #09F;
	position: relative;
	text-align: center;
	margin: 0 auto 0 auto;
	font-size: 56px;
}

.center div {
	position: relative;
	width: 100%;
	height: 14%;
}

.a {
	background-color: #52E352;
	left:-5%;
	top: 5%;
}

.b {
	background-color: #CC43BC;
	top:15%;
	left:5%;
}

.c {
	background-color: #DB793B;
	top:25%;
}

.d {
	background-color: #20A33A;
	left:5%;
	top: 17.5%;
}

.corner {
	position: absolute;
	height: 25%;
	width: 15%;
	display: block;
	text-align: left;
	font-size: 20px;
	background-color: white;
}

.upper-left {
	left: 0;
	top: 0;
}

.bottom-left {
	left: 0;
	bottom: 0;
}

.upper-right {
	right: 0;
	top: 0;
}

.bottom-right {
	right: 0;
	bottom: 0;
}