* {
	box-sizing: border-box;
}

textarea {
	float: left;
	width: 40%;
	height: 200px;
	margin-top: 8%;
	clear: left;
}

#style-select {
	float: left;
	clear: left;
}

#left-side {
	width: 100%;
}

.story {
	float: left;
	margin: 2%;
}

#story-title {
	color: red;
}

#story-text {


}