body {
	background-color: grey;
}

.center-block {
	background-color: white;
	position: absolute;
	left: 33%;
	width: 33%;
	top: 0px;
	height: 100%;
	margin: 0;

	text-align: center;
}

.side {
	background-color: grey;
	position: absolute;
	width: 33%;
	height: 100%;
}
#right-side {
	right: 0px;
}

#left-side {
	left: 0px;
}
.heading { 
	color: #00CCFF;
	font-family: sans-serif;
	align-self: center;

}

.corner {
	background-color: white;
	text-align: left;
	position: absolute;
	width: 25%;
	height: width;

}

#upper-left {
	top: 0px;
	left: 0px;
}

#lower-left {
	bottom: 0px;
	left: 0px;
}

#upper-right {
	top: 0px;
	right: 0px;
}

#lower-right {
	bottom: 0px;
	right: 0px;
}

.box {
	width: 33%;
}