body, html {
	width: 100%;
	height: 100%;
	margin: 0;
}

.bigbox {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: lightgray;
	/*border: solid black 10px;*/
}

.white_bg {
	background-color: white;
}

.container {
	margin: auto;
	width: 70%;
	max-height: 100vh;
	display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
          align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    /*border: solid green 10px;*/
}

.photobox {
	position: relative;
	width: 600px;
	height: 600px;
	overflow: hidden;
	display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
          align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

.photobox img {
	height: 100%;
}

.bkg {
	display: flex;
	position: absolute;
	margin: 0%;
	bottom: 0%;
	left: 0%;
	color: white;
	width: 100%;
	height: 20%;
	background-color: rgba(0,0,0,0.5);
	align-items: center;
	/*text-align: center;
	padding-left: 5%;
	font-weight: 600;*/
}

.photobox h2 {
	padding-left: 5%;
	font-size: 100%;
}

.bar {
	width: 90%;
	display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
          align-items: center;
    justify-content: space-around;
    margin-bottom: 10%;
    pointer-events: none;
    /*border: solid red 10px;*/
}

.bar img {
	width: 90%;
	border: solid transparent 10px;
	pointer-events: auto;
}

.toggle {
	margin-right: 1%;
	margin-left: 1%;
	background: transparent;
	border-color: transparent;
	border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

.forward {
	border-left: 60px solid gray;
}

.forward:hover {
	border-left: 60px solid darkgray;
	cursor: pointer;
}

.forward:active {
	border-left: 60px solid white;
}

.back {
	border-right: 60px solid gray;
}

.back:hover {
	border-right: 60px solid darkgray;
	cursor: pointer;
}

.back:active {
	border-right: 60px solid white;
}
